@use '../abstracts/index' as *;

#navigation .menu ul.menu-level-1 li {
    .menu-level-2 {
        > .has-third-level {
            .menu-image {
                width: 135px;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            > div {
                .menu-level-3 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    max-height: 100%;
                }
            }
        }
    }
}
