@use '../abstracts/index' as *;
.top-nav-button {
    display: none !important;
}
#navigation .menu ul.menu-level-1 li {
    .menu-level-2 {
        > .has-third-level {
            .menu-image {
                width: 135px;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            > div {
                .menu-level-3 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    max-height: 100%;

                    > li {
                        @include mq-min(s-min) {
                            margin-bottom: 7px;
                        }

                        a {
                            @include mq-min(s-min) {
                                font-size: 15px;
                                text-decoration: underline;

                                &:hover {
                                    font-weight: $fw-semibold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
