{
  "trailingComma": "es5",
  "tabWidth": 4,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "semi": false,
  "singleQuote": true,
  "bracketSameLine": true,
  "printWidth": 110
}
