@use '../abstracts/index' as *;

.type-detail {
    .vzorkovnik-tab a {
        display: flex !important;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .vzorkovnik-tab-icon {
            width: 30px;
            display: block;
            position: relative;

            &:after {
                content: '';
                background-image: url('/dist/able-images/dekor.svg');
                width: 30px;
                height: 30px;
                display: block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
    #vzorkovnik {
        .plus-gallery-wrap {
            margin-bottom: 32px !important;
            .plus-gallery-item {
                height: auto;
                .plus-gallery-item-img {
                    border-radius: 8px;
                    overflow: hidden;

                    &:hover {
                        img {
                            transform: scale(1.05);
                        }
                    }

                    img {
                        transition: transform 0.3s ease-in-out;
                    }
                }

                .plus-gallery-item-title {
                    text-align: left;
                    margin-top: 8px;
                    font-weight: $fw-medium;
                }
            }
        }
    }

    .vzorkovnik-link {
        text-decoration: underline;
        font-weight: $fw-medium;
        max-width: 220px;
    }

    .product-note {
        label {
            font-size: 16px;
        }
        small {
            font-size: 14px;
            margin-bottom: 12px;
            margin-top: 8px;
        }

        &--headline {
            margin-bottom: 20px;
        }
    }

    #productNote {
        height: 60px;
        resize: vertical;

        @include mq-max(s) {
            height: 90px;
        }
    }

    .p-info-wrapper {
        .add-to-cart-button {
            &.detail-btn {
                text-align: center;
                justify-content: center;
                &::after {
                    content: none;
                }
            }
        }

        .quantity input {
            @media (min-width: 480px) {
                height: 45px !important;
                font-size: 20px;
            }
        }
        .quantity .increase,
        .quantity .decrease {
            @media (min-width: 480px) {
                height: 46px !important;

                &:before {
                    font-size: 14px;
                }
            }
        }
    }

    p[data-testid='productCardDescr'] {
        display: none;
    }
    .detail-grid-title {
        display: none;
    }

    .social-buttons {
        display: none !important;
    }
}
