$media: (
  xxl: 1800px,
  xl: 1439px,
  xl-min: 1440px,
  l: 1199px,
  l-min: 1200px,
  tablet: 991px,
  tablet-min: 992px,
  m: 991px,
  m-min: 992px,
  mobile: 767px,
  mobile-min: 768px,
  s: 767px,
  s-min: 768px,
  xs: 479px,
  xs-min: 480px,
);
